# Accounting

The purpose of this notebook is to explore some accouting ratios and other calculations, and possibly visualize a company's financial health.

In [1]:
import finance

In [204]:
annuity_detail(0.07, 5000, 5)

   cashflow  annuity   pv    value  capital  interest
0      5000  20501.0  0.0  20501.0   3565.0    1435.0
1      5000  16936.0  0.0  16936.0   3814.0    1186.0
2      5000  13122.0  0.0  13122.0   4081.0     919.0
3      5000   9041.0  0.0   9041.0   4367.0     633.0
4      5000   4674.0  0.0   4674.0   4673.0     327.0

In [8]:
finance.annuity_detail(0.07, 5000, 5)

   cashflow  annuity  pv_end    value  capital  interest
0         0  20501.0     0.0  20501.0      0.0       0.0
1      5000  20501.0     0.0  20501.0   3565.0    1435.0
2      5000  16936.0     0.0  16936.0   3814.0    1186.0
3      5000  13122.0     0.0  13122.0   4081.0     919.0
4      5000   9041.0     0.0   9041.0   4367.0     633.0
5      5000   4674.0     0.0   4674.0   4673.0     327.0

In [19]:
finance.annuity_detail(0.07, 5000, 5)

   cashflow  annuity  pv_end    value  capital  interest
0         0  20501.0     0.0  20501.0      0.0       0.0
1      5000  16936.0     0.0  16936.0   3565.0    1435.0
2      5000  13122.0     0.0  13122.0   3814.0    1186.0
3      5000   9041.0     0.0   9041.0   4081.0     919.0
4      5000   4674.0     0.0   4674.0   4367.0     633.0
5      5000      1.0     0.0      1.0   4673.0     327.0

In [10]:
finance.annuity(i=0.07, cashflow=5000, n=4)

16936.05628231964

In [12]:
20501-3565

16936